* {
  box-sizing: border-box;
}
  .main {
  margin: 0;
  font-family: Arial;
  background-color: #000;
}
.header {
  text-align: center;
  padding: 32px;
  padding-bottom: 10px;
  padding-top: 40px;
}
.lightning-text {
  font-family: 'Charmonman', cursive;
  position: relative;
  color: #000000;
  /*Text color */
  text-transform: uppercase;
  font-size: 3em;
  font-weight: bold;
  animation: lightning 2s infinite;
  background-color: #000000;
  border-radius: 20px;
}

@keyframes lightning {

  0%,
  100% {
    text-shadow:
    0 0 5px #ffffff,
      0 0 10px #ffffff,
      0 0 20px #00ffff,
      0 0 30px #00ffff,
      0 0 40px #00ffff,
      0 0 50px #00ffff,
      0 0 60px #00ffff;
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    text-shadow: none;
    color: #000;
  }

  20%,
  40%,
  60%,
  80% {
    text-shadow:
      0 0 5px #ffffff,
      0 0 10px #ffffff,
      0 0 20px #00ffff,
      0 0 30px #00ffff,
      0 0 40px #00ffff,
      0 0 50px #00ffff,
      0 0 60px #00ffff;
  }
}
.section{
  margin: 10px 23px;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 15px;
  padding: 10px;
  
}
.custom img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  transition: transform .2s;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 15px;

}

.custom img:hover {
  transform: scale(1.05);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  border: solid rgb(255, 255, 255);
  box-shadow: #0fb6b6 0px 10px 36px 0px, #00ffff 0px 0px 0px 1px;
}